<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">Welcome to my Site!</h1>

                <h4>This is my Personal Portfolio website.</h4>
                
                <div id="progressBar"></div>
                <button type="button" onclick="location.href('/about');" class="btn btn-primary" id="aboutButton">About Me</button>
                <button type="button" onclick="location.href('/projects');" class="btn btn-primary" id="projectsButton">Current Projects</button>
                <p>I'm passionate and hard-working and complete every project with professionalism and honesty</p>
            </div>
    </div>
</div>
