<!--/*
File name : services.ejs
Student's name : Karandeep
StudentID : 100734535
Student's name : Ritu Patel
StudentID : 100730021
Student's name : Harmanpreet Kaur
StudentID : 100734511
Date : 2020-04-06
*/-->

<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">An Interesting List of my Services</h1>
                <p>
                    <ul>
                        <li>Web Designing <img src="../../public/Assets/images/gray-laptop-computer-showing-html-codes-in-shallow-focus-160107.jpg"></li>
                        <li>Web Development</li>
                        <li>iOS App Development</li>
                        <li>Android App Development</li>
                    </ul>
                </p>
                
            </div>
    </div>
</div>

